<h2>Edit Dish</h2>

<form class="" action="/dishes/<%= @dish.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">
  <label for="">Name</label>
  <input type="text" name="name" value="<%= @dish.name %>">
  <label for="">image url</label>
  <input type="text" name="image_url" value="<%= @dish.image_url %>">
  <button>Update</button>
</form>
