<div class="main">
<h1 style="color: white;">Movie Infomation</h1>

<form action="/available_movies" class="input_form" method="get"> <!--action = url -->
  <input class="input_box" type="text" name="film" value="" placeholder=" movie title"> <!--name attribute = params key -->
  <button class="search_button">Search</button>
</form>
</div>
