<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Info</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
    <a class="nav_button" href="/">home</a>
    <a class="nav_button" href="/about">about</a>
  </nav>
  <%= yield %>
</body>
</html>
