<div class="movie_result">
  <div class="poster">
    <img src="<%= @moviePoster %>" alt="">
  </div>
  <div class="wrapper">
    <h2><%= @movieTitle %></h2>
    <div><%= @moviePlot %></div>
    <div style="height: 10px;"> </div>
    <div>Length - <%= @movieTime %></div>
  </div>
</div>
