* {
  box-sizing: border-box;
}

body {
  height: 80%;
  width: 75%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  height: 80px;
  width:300px;
  background-color: red;
  border: solid 2px black;
  text-align: center;
  vertical-align: top;
  margin-top: 50px;
}

.logo h3 {
  margin: 25px auto;
}

.olBank {
  display: inline-block;
  height: 80px;
  width: 300px;
  text-align: center;
  vertical-align: top;
  padding-top: 50px;
}

.savings {
  height: 300px;
  width: 300px;
  margin: 100px 0 0 0;
  border: solid 2px black;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.savings div {
  margin: 0 auto;
}

.savings div h2 {
  margin: 15px 0;
}

.savings div h3 {
  margin: 5px 0;
}

.savings div h5 {
  margin: 0;
}

.transactionAmount {
  height: 30px;
  width: 180px;
  text-align: center;
  background-color: white;
  padding-top: 6px;
  border: 1px black solid;
  margin-bottom: 20px;
}

.wdraw {
  height: 25px;
  width: 90px;
  text-align: center;
  background-color: red;
  padding-top: 4px;
  border: 1px solid black;
}
.deposit  {
  height: 25px;
  width: 90px;
  text-align: center;
  background-color: green;
  padding-top: 4px;
  border: 1px solid black;
}

.transButtons {
  height: 30px;
  width: 200px;
  padding-top: 10px;
  display:flex;
  align-content: space-around;

}
