<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Stock Price App</title>
  </head>
  <body>
    <h1>Stock Price</h1>
   <p><%= @stock_name %> (<%= @stock_symbol%>) last sale price was $ <%= @stock_last_sale_price%></p>

  </body>
</html>
